{
  "cluster1": {
    "POOL": "gcetest",
    "PROVIDER_TYPE": "LOCAL",
    "CONDA_ENV": "parsl-1.2",
    "CONDA_DIR": "__POOLWORKDIR__/pw/.miniconda3",
    "CORES_PER_WORKER": 0.1,
    "INSTALL_CONDA": "true",
    "LOCAL_CONDA_YAML": "./requirements/conda_env_remote.yaml",
    "SlurmProvider": {
      "partition": "compute",
      "nodes_per_block": 1,
      "cores_per_node": 2,
      "min_blocks": 0,
      "max_blocks": 10,
      "walltime": "01:00:00"
    }
  },
  "cluster2": {
    "POOL": "awstest",
    "PROVIDER_TYPE": "LOCAL",
    "CONDA_ENV": "parsl-1.2",
    "CONDA_DIR": "__POOLWORKDIR__/pw/.miniconda3",
    "CORES_PER_WORKER": 0.1,
    "INSTALL_CONDA": "true",
    "LOCAL_CONDA_YAML": "./requirements/conda_env_remote.yaml",
    "SlurmProvider": {
      "partition": "compute",
      "nodes_per_block": 1,
      "cores_per_node": 2,
      "min_blocks": 0,
      "max_blocks": 10,
      "walltime": "01:00:00"
    }
  },
}

